<!DOCTYPE html>
<html class="" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/main.css">
	<title>Primary</title>
</head>
<body>
	<div class="background"></div>
	<div class="main dbg">
		<div class="tb">

			<div class="lr">

				<!-- Sidebar -->
				<div class="tb sidebar">

					<!-- Profile icon/picture -->
					<div class="profile-pic">
						<i>person</i>
					</div>

					<!-- Contact -->
					<div class="section contact">
						<div class="name">Kontakt</div>
						<div class="item">
							<i>phone</i>
							<div>
								<div class="value">+48 328 213 777</div>
								<div class="desc">Nr telefonu</div>
							</div>
						</div>
						<div class="item">
							<i>email</i>
							<div>
								<div class="value">noreply@ohv.lol</div>
								<div class="desc">Adres e-mail</div>
							</div>
						</div>
						<div class="item">
							<i>language</i>
							<div>
								<div class="value">grube.baby</div>
								<div class="desc">Strona internetowa</div>
							</div>
						</div>
					</div>

					<!-- Education -->
					<div class="section alt education">
						<div class="name">Edukacja</div>
						<div class="item">
							<div>
								<div class="value">
									<i>license</i>
									<div>Szkolenie BHP</div>
								</div>
								<div class="desc">Certyfikat XD z programowania na poziomie średniopodstawowym</div>
								<div class="desc">Uniwersytet Twojej Starej w Lublinie</div>
							</div>
						</div>
						<div class="item">
							<div>
								<div class="value">
									<i>school</i>
									<div>Technik Matematyk</div>
								</div>
								<div class="desc">Kwalifikacje E68, E69 i X11</div>
								<div class="desc">Zespół Szkół nr 69 im. Twojej Starej w Sosnowcu</div>
							</div>
						</div>
					</div>

					<!-- Experience -->
					<div class="section alt experience">
						<div class="name">Doświadczenie</div>
						<div class="item">
							<div>
								<div class="value">
									<i>business_center</i>
									<div>Jew-soft Szambo sp. z.o.o.</div>
								</div>
								<div class="desc">Praca przy wywozie nieczystości płynnych, obsługa sedesów i kierownik działu programistów</div>
							</div>
						</div>
						<div class="item">
							<div>
								<div class="value">
									<i>work</i>
									<div>SM Lubartów</div>
								</div>
								<div class="desc">Starszy kosiarkowy i opiekun oddziału grabienia liści</div>
							</div>
						</div>
					</div>

					<!-- GitHub -->
					<div class="github">
						<div>
							<div class="a">github.com/dani3l0</div>
							<div class="b">Mój profil na GitHubie</div>
						</div>
						<img src="img/github.svg">
					</div>

				</div>

				<!-- Content -->
				<div class="tb content">

					<div class="full-name">
						<div class="first-name">Bogdan</div>
						<div class="last-name">Cwelarczyk</div>
					</div>

					<div class="specialization-summary">Hobbyist farmer, professional thief, reliable killer</div>

					<div class="section">
						<div class="name">O mnie</div>
						<div class="text">I'm a motivated Marketing Assistant with 2 years of e-commerce experience. I excel at social media and content creation, collaborating effectively to deliver engaging campaigns. I'm known for my proactive approach and strong organizational skills, reflecting our dedication to exceptional customer experiences. I'm eager to learn new digital marketing strategies and contribute to the company's continued growth and success.</div>
					</div>

					<div class="section">
						<div class="name">Umiejętności</div>
						<div class="desc">I'm Gemma, a language model! I help generate text, answer questions, and chat. I love learning new things and exploring language!</div>
						<div class="skills">
							<div class="b1" style="--color: 0">
								<div class="title">
									<i>handyman</i>
									<div>Narzędzia</div>
								</div>
								<div class="text">
									<div>I'm Gemma, a language model! I can write stories, poems, and summaries. I enjoy crafting creative text!</div>
								</div>
								<div class="bubbles">
									<div>docker</div>
									<div>podman</div>
									<div>compose</div>
									<div>systemd</div>
								</div>
							</div>
							<div class="b2" style="--color: 120">
								<div class="title">
									<i>handyman</i>
									<div>Narzędzia</div>
								</div>
								<div class="text">
									<div>I'm Gemma, a language model! I can write stories, poems, and summaries. I enjoy crafting creative text!</div>
								</div>
								<div class="bubbles">
									<div>docker</div>
									<div>podman</div>
									<div>compose</div>
									<div>systemd</div>
								</div>
							</div>
							<div class="b3" style="--color: 210">
								<div class="title">
									<i>handyman</i>
									<div>Narzędzia</div>
								</div>
								<div class="text">
									<div>I'm Gemma, a language model! I can write stories, poems, and summaries. I enjoy crafting creative text!</div>
								</div>
								<div class="bubbles">
									<div>docker</div>
									<div>podman</div>
									<div>compose</div>
									<div>systemd</div>
								</div>
							</div>
							<div style="--color: 40">
								<div class="title">
									<i>handyman</i>
									<div>Narzędzia</div>
								</div>
								<div class="text">
									<div>I'm Gemma, a language model! I can write stories, poems, and summaries. I enjoy crafting creative text!</div>
								</div>
								<div class="bubbles">
									<div>docker</div>
									<div>podman</div>
									<div>compose</div>
									<div>systemd</div>
								</div>
							</div>
						</div>
					</div>

					<div class="policy">
						<i>info</i>
						<div>Wyrażam zgodę na monitorowanie mnie i oddanie moich danych za pieniądze w ręce innego kapitału</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>
</html>