<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/icons.css" />
	<link rel="stylesheet" href="style/main.css">
	<title>Primary</title>
</head>
<body>
	<div class="main dbg">
		<div class="tb">


			<!-- Header, whoami -->
			<div class="lr top">
				<i>account_circle</i>
				<div class="full-name">
					<div class="first-name">Maciej</div>
					<div class="last-name">Solejuk</div>
				</div>
				<div class="specialization-summary">Hobbyist farmer, professional thief, reliable killer</div>
			</div>


			<div class="lr">

				<!-- Sidebar -->
				<div class="tb sidebar">

					<div class="section">
						<div class="name">Kontakt</div>
						<div class="item">
							<i>phone</i>
							<div>
								<div class="value">+48 328 213 777</div>
								<div class="desc">Nr telefonu</div>
							</div>
						</div>
						<div class="item">
							<i>email</i>
							<div>
								<div class="value">noreply@ohv.lol</div>
								<div class="desc">Adres e-mail</div>
							</div>
						</div>
						<div class="item">
							<i>language</i>
							<div>
								<div class="value">grube.baby</div>
								<div class="desc">Strona internetowa</div>
							</div>
						</div>
					</div>

					<div class="section">
						<div class="name">Edukacja</div>
						<div class="item">
							<i>phone</i>
							<div>
								<div class="value">+48 328 213 777</div>
								<div class="desc">Nr telefonu</div>
							</div>
						</div>
						<div class="item">
							<i>email</i>
							<div>
								<div class="value">noreply@ohv.lol</div>
								<div class="desc">Adres e-mail</div>
							</div>
						</div>
						<div class="item">
							<i>language</i>
							<div>
								<div class="value">grube.baby</div>
								<div class="desc">Strona internetowa</div>
							</div>
						</div>
					</div>

					<div class="section">
						<div class="name">Doświadczenie</div>
						<div class="item">
							<i>phone</i>
							<div>
								<div class="value">+48 328 213 777</div>
								<div class="desc">Nr telefonu</div>
							</div>
						</div>
						<div class="item">
							<i>email</i>
							<div>
								<div class="value">noreply@ohv.lol</div>
								<div class="desc">Adres e-mail</div>
							</div>
						</div>
						<div class="item">
							<i>language</i>
							<div>
								<div class="value">grube.baby</div>
								<div class="desc">Strona internetowa</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Content -->
				<div class="tb content"></div>

			</div>

		</div>
	</div>
</body>
</html>