/* html {filter: invert(1)} */

body {
	background: #FFF;
	color: #0FB;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

#ifr {
	position: absolute;
	width: 210mm;
	height: 297mm;
	overflow: hidden;
	top: 0;
	left: 0;
	border: none;
	outline: none;
}
